<div class="container-fluid">
 <div class="row">
<%= image_tag 'quote.jpg', size: "1440x600" %>
 </div>
</div>
<div class="container">
  <div class="row">
    <div>
      <% @all_ranks.each do |rank| %>
        <%= link_to(user_article_path(rank.user_id,rank.id), class: 'link') do %>
          <% if rank.article_image.present? %>
              <%= attachment_image_tag rank, :article_image,　format: 'jpeg/png', class: "rounded", size: "250x200" %>
          <% else %>
              <%= attachment_image_tag rank, :article_image,　format: 'jpeg/png', fallback: "article_eyecatch.png", class: "rounded", size: "100x100" %>
          <% end %>
            <%= rank.title %>
        <% end %>
      <% end %>
      <div>
      </div>
    </div>
  </div>
</div>