<% if flash[:success] %>
    <div class="alert alert-success text-center" role="alert"><strong><%= flash[:success] %></strong></div>
<% end %>
<% if flash[:danger] %>

    <div class="container">
        <div class="row user-row">
            <div class="col-2"></div>
            <div class="col-3 ml-5 mt-5 d-inline animated jackInTheBox">
                <% if @user.user_image.present? %>
                    <%= attachment_image_tag @user, :user_image, class: "img-circle icon-hover", style: "width: 195px; height: 195px;"%>
                <% else %>
                    <%= attachment_image_tag @user, :user_image, fallback: "no_image.png", class: "img-circle user-hover", style: "width: 165px; height: 165px;"%>
                <% end %>
            </div>

            <div class="col-5 ml-5 d-block user-info w-100 animated jackInTheBox">
                <div>
                    <div class="user-text">
                        <%= image_tag 'user_icon.png', size: '50x50' %> <%= @user.nickname %>
                        <% if @user.word.present? %>
                            <div class="word d-block mt-3 w-100">
                                <%= @user.word %>
                            </div>
                        <% end %>
                    </div>

                    <div class="user-score">
                        <% if @user.toeic_score <= 400 %>
                            <%= image_tag 'first.png', size: '40x40' %>
                        <% elsif @user.toeic_score <= 600 && @user.toeic_score >= 400 %>
                            <%= image_tag 'second.png', size: '40x40' %>
                        <% else %>
                            <%= image_tag 'top.png', size: '40x40' %>
                        <% end %>
                        <p class="d-inline mr-4 ml-1">TOEIC SCORE<p class="t-score d-inline high-light"><%= @user.toeic_score %></p></p>

                        <% if @user.reading_score && @user.listening_score.present? %>
                            <%= image_tag 'read.png', size: '37x35', class: "mb-2 d-inline" %><p class="d-inline mr-4 ml-2"> READING SCORE</p><p class="score d-inline"><%= @user.reading_score %></p>

                            <%= image_tag 'listen.png', size: '35x35', class: "ml-3 mb-3 d-inline" %><p class="d-inline mr-3"> LISTENING SCORE</p>
                            <p class="score d-inline"><%= @user.listening_score %></p>
                        <% end %>
                    </div>

                    <div class="user-account">
                        <%= @user.follow_count %>
                        <%= link_to "フォロー", follow_path(@user.id), class: "link" %>
                        <%= @user.followers_count %>
                        <%= link_to "フォロワー", follower_path(@user.id), class: "link" %>

                        <% if current_user.id != @user.id %>
                        <div class="btn">
                        <%= render partial: 'follow_form', locals: {user: @user} %>
                        </div>
                        <% end %>
                    </div>
                    <% if current_user.id == @user.id %>
                        <div class="profile d-inline ml-3">
                            <%= link_to "いいね！した記事", user_articles_path(@user), class: "btn u-btn" %>
                            <div class="d-inline ml-5">
                                <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-info u-btn2" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row account-article d-block ml-5 w-100 mx-auto animated fadeInRight">
                <% if @self_articles.blank? %>
                <% else %>
                <% @articles.each do |article| %>
                <%= link_to(user_article_path(article.user_id,article.id), class: 'link') do %>
                        <div class="d-block d-inline m-5 p-5 article d-flex align-items-center hover">
                            <% if article.article_image.present? %>
                                <%= attachment_image_tag article, :article_image,　format: 'jpeg/png', class: "rounded", size: "280x220" %>
                            <% else %>
                                <%= attachment_image_tag article, :article_image,　format: 'jpeg/png', fallback: "article_eyecatch.png", class: "rounded", size: "280x220" %>
                            <% end %>
                            <div class="d-inline-block col-9">
                                <div class="d-block ml-4">
                                    <i class="far fa-clock"></i>
                                    <%= l article.created_at, format: :short %>
                                </div>
                                <div class="d-block user_article_title">
                                    <%= "【"+article.title+"】" %>
                                </div>
                                <div class="article-tag mt-5">
                                    <div class="part_list d-block ml-3 mt-5 my-2">
                                    <% if article.part_list.present? %>
                                        <% article.part_list.each do |tag| %>
                                            <%= link_to "Part"+tag, tag_path(tag), class: "label label-success" %>
                                        <% end %>
                                    <% else %>
                                    <% end %>
                                    </div>

                                    <div class="key_word_list d-block ml-3 mt-4">
                                        <% if article.key_word_list.present? %>
                                            <% article.key_word_list.each do |tag| %>
                                                <%= link_to tag, tag_path(tag), class: "label label-info" %>
                                            <% end %>
                                        <% else %>
                                        <% end %>
                                    </div>
                                    <% if current_user.id == article.user_id %>
                                    <div class="d-block text-right">
                                        <%= link_to  image_tag("edit.png", width: '20', height: '20', alt: "edit_icon"), edit_user_article_path(@user,article.id), class: "btn btn-normal icon-hover" %>
                                        <%= link_to  image_tag("delete.png", width: '20', height: '20', alt: "delete_icon"), user_article_path(@user,article.id), method: :'delete',"data-confirm" => "本当に削除しますか？", class: "btn btn-normal icon-hover" %>
                                    </div>
                                    <% else %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
                <div class="text-center">
                    <%= paginate @articles %>
                </div>
            <% end %>
            </div>
            <% if current_user.id == @user.id %>
            <div class="mb-5 col text-right">
                <%= link_to "退会手続きはこちらから", edit_user_unsubscribes_path(current_user.id) %>
            </div>
            <% end %>
        </div>
    </div>