<p class="col-5 offset-lg-1 t-theme">Log In</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="mx-auto container">
		<div class="text-align">
			<div class="field col-11 offset-1 col-lg-8 offset-lg-2">
				<%= f.label :email, "メールアドレス" %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg w-100 validate[required, custom[email]]" %>
			</div>

			<div class="field col-11 offset-1 col-lg-8 offset-lg-2">
				<%= f.label :password, "パスワード" %><br />
				<%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg w-100 validate[required, manSize[6]]" %>
			</div>

			<% if devise_mapping.rememberable? %>
				<div class="field text-right col-11 offset-1 col-lg-8 offset-lg-2">
					<%= f.check_box :remember_me, class: "wskCheckbox", type: "checkbox" %> <%= f.label :このログインを記憶する %>
				</div>
			<% end %>
		</div>
		<div class="actions text-right col-11 offset-1 col-lg-8 offset-lg-2 mt-5">
			<%= f.submit "ログイン", class: "btn u-btn mx-auto btn-lg" %>
		</div>
		<% end %>
		<div class="col-11 offset-1 col-lg-8 offset-lg-2 mt-3 text-right">
			<%= render "users/shared/links"%>
		</div>
	</div>