<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-auto d-inline-block clip-box-a" style="color: black;">
            <%= link_to(user_path(@article.user_id), class: "link") do %>
            <div class=" d-block col-3 article_writer underline p-2 ml-4 text-center" style="font-size: 20px;">
                投稿者： <%= @article.user.nickname %>さん
            </div>
            <% end %>
            <div class="d-inline-block col-12 ml-4 mt-2">
                <i class="far fa-clock"></i>
                <%= l @article.created_at, format: :short %>
                    <div class="d-inline-block ml-3">
                        <i class="fas fa-sync-alt"></i>
                        <%= l @article.updated_at %>
                    </div>
                    <div id="likes_buttons_<%=@article.id%>" class="float-right mr-5 d-inline">
                        <% if user_signed_in? %>
                        <%= render partial: 'likes/like', locals: { user: current_user, article: @article, likes: @like} %>
                        <% end %>
                    </div>
                    <% if user_signed_in? && current_user.id == @user.id %>
                    <div class="d-inline-block ml-4">
                        <%= link_to  image_tag("/images/edit.png", width: '17', height: '17', alt: "edit_icon"), edit_user_article_path(@user,@article.id), class: "btn btn-normal icon-hover" %>
                        <%= link_to  image_tag("/images/delete.png", width: '17', height: '17', alt: "delete_icon"), user_article_path(@user,@article.id), method: :'delete',"data-confirm" => "本当に削除しますか？", class: "btn btn-normal icon-hover" %>
                    </div>
                    <% end %>
            </div>
            <div class="s-title ml-5 mt-2">
                <%= @article.title %>
            </div>
            <div class="d-block d-inline ml-4">
                <div class="part_list d-block ml-3 mt-5 my-2">
                <% if @article.part_list.present? %>
                    <% @article.part_list.each do |tag| %>
                        <div class="label label-success">Part<%= tag %></div>
                    <% end %>
                <% end %>
                </div>

                <div class="d-block key_word_list d-block ml-3 mt-4">
                    <% if @article.key_word_list.present? %>
                        <% @article.key_word_list.each do |tag| %>
                            <div class="label label-info"><%= tag %></div>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="Twitter d-inline float-right mr-5">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="d-block mt-5 mb-5">
                <%= raw @article.body %>
            </div>
        </div>
    </div>
</div>
