    <%=form_with model:@article, local:true do |f| %>

        <div class="mx-auto container">

            <div class="field">
                <%= f.label:タイトル,class: "" %><br>
                <%= f.text_field :title, autofocus: true %>
            </div>

            <div class="field">
                <%= f.label :記事, class: "" %><br>
                <%= f.text_area :body, id: "editor" %>
            </div>

            <div class="field">
                <%= f.attachment_field :article_image %>
            </div>

            <div class="actions text-right col-8 offset-md-4", style="margin-bottom: 60px; margin-top: 60px;">
                    <%= f.submit "投稿", class: "btn btn-success mx-auto btn-lg" %>
            </div>
        </div>
    <% end %>


    <script src="https://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
    <script>
            //エディタへの設定を適用する
            CKEDITOR.replace('editor', {
              uiColor: '#EEEEEE',
              height: 400,
              // webからコピペした際でもプレーンテキストを貼り付けるようにする
              forcePasteAsPlainText: true,
            });
          </script>
