    <%=form_with model: article, local:true do |f| %>

    <div class="field">
        <%= f.label:タイトル,class: "" %><br>
        <%= f.text_field :last_name, autofocus: true %>
    </div>

    <div class="field">
            <%= f.label:タイトル,class: "" %><br>
            <%= f.text_field :last_name, autofocus: true %>
        </div>
