<h1>accounts#index</h1>

<%= flash[:success] %>

    <div class="container">
        <div class="col-6 d-inline">
            <%= attachment_image_tag @user, :user_image, fallback: "no_image.png",class: "rounded", style: "width: 150px; height: 150px;"%>
        </div>

        <div class="d-inline col-6">
            <div class="d-inline">
                <strong>
                    <%= current_user.nickname %>
                </strong><br>
                TOEIC score:<%= current_user.toeic_score %>point
            </div>

            <div class="">
                TOEIC score:<%= current_user.toeic_score %>point
            </div>
        </div>
    </div>